In [1]:
import pandas as pd
import numpy as np
import os
import datetime
import time
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, accuracy_score, recall_score, f1_score, roc_auc_score
from sklearn.metrics import roc_curve, auc, confusion_matrix
from datetime import timedelta, datetime
from sklearn.ensemble import GradientBoostingClassifier
% matplotlib inline
# Always make it pretty.
plt.style.use('ggplot')
import math
from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
from urllib.request import urlopen, Request
import requests

In [27]:
from Transformers import *

In [14]:
import time
from datetime import date

In [54]:
headers = {'Authorization' : 'p96JwpSHaxLH5U4PFPwcYWv9ZhY='}
result = requests.get('https://api.lendingclub.com/api/investor/v1/loans/listing', headers = headers)
Listing = result.json()
Listing = pd.DataFrame(Listing['loans'])

In [56]:
Listing.to_csv('Listing4.csv')

In [57]:
Listing2 = pd.read_csv('Listing3.csv')

In [60]:
Listing1 = pd.read_csv('Listing4.csv')

In [61]:
day_list_2 = pd.concat([Listing1, Listing2])

In [63]:
day_list_2.to_csv('Listing_2d.csv')

In [59]:
Listing.head()

,accNowDelinq,accOpenPast24Mths,acceptD,addrState,addrZip,allUtil,annualInc,annualIncJoint,applicationType,avgCurBal,...,totCollAmt,totCurBal,totHiCredLim,totalAcc,totalBalExMort,totalBalIl,totalBcLimit,totalCuTl,totalIlHighCreditLimit,totalRevHiLim
0,0,18,2018-04-13T09:41:01.000-07:00,TX,750xx,25.9,79000.0,NaN,INDIVIDUAL,674,...,3245,19548,75475,64,19548,11879.0,22600,6,29775,45700
1,0,2,2018-04-21T10:45:59.000-07:00,AR,720xx,11.1,62000.0,NaN,INDIVIDUAL,7670,...,0,46020,81949,17,46020,45858.0,13700,4,68249,13700
2,0,0,2018-04-18T19:10:55.000-07:00,WA,985xx,66.6,18000.0,NaN,INDIVIDUAL,1015,...,0,4061,6100,4,4061,0.0,4000,0,0,6100
3,0,1,2018-04-27T07:56:14.000-07:00,ND,585xx,89.9,50000.0,NaN,INDIVIDUAL,4851,...,0,24256,26972,10,24256,19978.0,3900,0,21072,5900
4,0,5,2018-04-25T11:31:15.000-07:00,CA,910xx,90.0,34000.0,106000.0,JOINT,5065,...,0,50647,56300,11,50647,43081.0,11400,0,40500,15800

In [22]:
Listing['issued'] = date.today()
Listing = Listing[Listing['term'] == 36]
List_col = [i.lower() for i in Listing.columns.values]
Listing.columns = List_col

/opt/conda/envs/data3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [5]:
import pickle
agree = pickle.load(open('agree.pickle','rb'))

In [23]:
Listing_All = Listing[cols_to_show]

In [41]:
Listing_All.head()

,id,grade,annualinc,dti,delinq2yrs,earliestcrline,ficorangehigh,loanamount,intrate
0,131639063,B,33000.0,23.67,0,2003-08-15T17:00:00.000-07:00,764,4000.0,9.43
1,131309101,E,5181.0,81.44,0,2006-05-07T17:00:00.000-07:00,679,7075.0,26.77
2,131024032,E,80000.0,23.72,1,2004-07-31T17:00:00.000-07:00,679,35000.0,26.77
4,130312582,C,33000.0,35.24,0,2012-07-18T17:00:00.000-07:00,714,18000.0,16.01
6,131965473,C,25000.0,13.35,0,2006-01-18T16:00:00.000-08:00,679,7200.0,12.61

In [53]:
for index, row in Listing_All.iterrows():
    print(row[0])
    for i in row:
    
        print(i)

131639063
131639063
B
33000.0
23.67
0
2003-08-15T17:00:00.000-07:00
764
4000.0
9.43
131309101
131309101
E
5181.0
81.44
0
2006-05-07T17:00:00.000-07:00
679
7075.0
26.77
131024032
131024032
E
80000.0
23.72
1
2004-07-31T17:00:00.000-07:00
679
35000.0
26.77
130312582
130312582
C
33000.0
35.24
0
2012-07-18T17:00:00.000-07:00
714
18000.0
16.01
131965473
131965473
C
25000.0
13.35
0
2006-01-18T16:00:00.000-08:00
679
7200.0
12.61
131498696
131498696
C
100000.0
18.7
0
2005-02-11T16:00:00.000-08:00
664
32000.0
12.61
132118585
132118585
E
58000.0
10.41
0
2005-05-22T17:00:00.000-07:00
744
5000.0
26.77
132068692
132068692
C
32000.0
17.22
0
2015-02-21T16:00:00.000-08:00
684
2000.0
14.07
131667860
131667860
A
50000.0
4.34
1
2004-05-16T17:00:00.000-07:00
704
20000.0
7.96
131003847
131003847
E
75000.0
23.84
0
2004-07-30T17:00:00.000-07:00
664
4000.0
22.9
131723244
131723244
C
98000.0
20.66
0
2005-09-16T17:00:00.000-07:00
704
25000.0
13.58
132317448
132317448
D
42000.0
26.2
0
1992-08-25T17:00:00.000-07:00
669
2500.0
17.47
131667317
131667317
B
93080.0
27.19
0
1990-08-16T17:00:00.000-07:00
689
36000.0
10.9
132122361
132122361
B
50000.0
22.78
0
2005-07-22T17:00:00.000-07:00
719
8000.0
9.92
132130623
132130623
C
23000.0
25.31
0
2007-11-22T16:00:00.000-08:00
724
6500.0
13.58
132172323
132172323
C
20000.0
30.97
0
2000-02-23T16:00:00.000-08:00
679
5000.0
12.61
132324256
132324256
A
35000.0
15.33
0
2005-06-25T17:00:00.000-07:00
784
3600.0
7.96
132296509
132296509
A
36000.0
23.97
0
2014-12-25T16:00:00.000-08:00
709
4500.0
7.96
132127434
132127434
B
200000.0
7.54
0
2003-10-22T17:00:00.000-07:00
684
14000.0
9.92
132336225
132336225
A
16896.0
1.92
0
2000-11-25T16:00:00.000-08:00
764
4000.0
7.96
132153536
132153536
E
14000.0
22.56
2
1994-03-23T16:00:00.000-08:00
699
4000.0
22.9
132176910
132176910
A
65000.0
25.96
0
2008-01-23T16:00:00.000-08:00
714
15000.0
7.34
132262178
132262178
A
23380.0
18.69
0
1995-12-24T16:00:00.000-08:00
709
10000.0
5.31
132082617
132082617
B
22152.0
6.28
0
2013-07-21T17:00:00.000-07:00
709
8000.0
9.43
132340942
132340942
B
45000.0
16.99
0
1998-07-25T17:00:00.000-07:00
779
6000.0
9.92
132344837
132344837
D
135000.0
3.88
1
1995-08-26T17:00:00.000-07:00
684
15000.0
17.47
132247323
132247323
E
130000.0
9.56
1
2006-07-24T17:00:00.000-07:00
669
15000.0
23.87
131612119
131612119
B
79000.0
14.16
0
2002-06-14T17:00:00.000-07:00
734
37000.0
10.9
132252615
132252615
A
85000.0
16.37
0
2006-10-24T17:00:00.000-07:00
789
16000.0
5.31
132506760
132506760
D
52000.0
33.35
0
2006-02-27T16:00:00.000-08:00
684
2100.0
19.42
132511928
132511928
C
82000.0
29.86
0
2005-12-29T16:00:00.000-08:00
729
5000.0
16.01
131649880
131649880
B
71000.0
18.61
1
2014-05-15T17:00:00.000-07:00
734
5000.0
11.98
132518314
132518314
D
110000.0
23.47
0
1980-05-29T17:00:00.000-07:00
714
7500.0
17.47
132523887
132523887
B
59777.0
11.8
0
2004-02-28T16:00:00.000-08:00
689
2500.0
9.92
132504403
132504403
B
25000.0
16.8
0
2007-02-27T16:00:00.000-08:00
724
3000.0
9.43
132496226
132496226
A
62000.0
12.89
0
2003-08-29T17:00:00.000-07:00
724
4000.0
7.96
132520906
132520906
B
40000.0
23.37
0
2004-06-29T17:00:00.000-07:00
739
4500.0
10.41
132199521
132199521
B
50000.0
9.11
1
1990-04-23T17:00:00.000-07:00
704
4000.0
9.43
132046634
132046634
A
41000.0
21.72
0
1994-06-20T17:00:00.000-07:00
714
5000.0
7.34
132508992
132508992
B
62000.0
13.8
0
2000-02-28T16:00:00.000-08:00
669
5000.0
10.9
131965318
131965318
C
102000.0
9.2
1
2013-01-18T16:00:00.000-08:00
689
6600.0
12.61
132431229
132431229
B
20000.0
11.4
0
2005-12-27T16:00:00.000-08:00
714
5000.0
10.9
132493044
132493044
A
33000.0
19.38
0
1984-11-29T16:00:00.000-08:00
684
5700.0
7.96
132482772
132482772
E
28000.0
27.53
0
2013-02-27T16:00:00.000-08:00
674
5000.0
22.9
132317409
132317409
C
94856.0
31.49
1
2006-10-25T17:00:00.000-07:00
694
4800.0
12.61
132487594
132487594
E
230000.0
35.76
0
1986-06-28T17:00:00.000-07:00
694
7300.0
26.77
132515748
132515748
C
44290.0
20.68
0
2009-09-29T17:00:00.000-07:00
664
5000.0
13.58
132510443
132510443
B
56160.0
22.18
0
1998-07-29T17:00:00.000-07:00
739
7000.0
9.43
132498371
132498371
C
37000.0
4.74
0
2012-08-29T17:00:00.000-07:00
684
8000.0
13.58
131710835
131710835
B
45000.0
3.07
0
2005-11-16T16:00:00.000-08:00
674
6000.0
9.43
131963357
131963357
A
115000.0
12.47
0
2013-07-18T17:00:00.000-07:00
704
7000.0
6.71
132363440
132363440
E
80000.0
21.99
2
1994-06-26T17:00:00.000-07:00
669
6000.0
24.84
132503821
132503821
B
66000.0
10.62
0
2001-10-29T16:00:00.000-08:00
679
7000.0
9.43
132507709
132507709
C
45000.0
25.57
2
2006-08-29T17:00:00.000-07:00
664
8425.0
15.04
132216068
132216068
B
80000.0
9.89
1
1985-10-24T17:00:00.000-07:00
669
7200.0
10.9
132215620
132215620
D
54000.0
25.33
0
1990-04-23T17:00:00.000-07:00
704
7000.0
17.47
132399649
132399649
E
30000.0
18.36
0
1995-05-27T17:00:00.000-07:00
704
10000.0
23.87
131467633
131467633
E
98000.0
20.2
1
2006-09-11T17:00:00.000-07:00
694
7325.0
24.84
132457724
132457724
E
78000.0
17.14
3
1972-12-28T16:00:00.000-08:00
684
10000.0
22.9
132507860
132507860
B
53000.0
33.33
0
2002-01-29T16:00:00.000-08:00
709
8000.0
10.41
131595891
131595891
B
40000.0
31.83
0
2008-08-14T17:00:00.000-07:00
714
9000.0
11.98
132469341
132469341
A
60000.0
11.52
0
2014-08-28T17:00:00.000-07:00
709
10000.0
6.07
132332402
132332402
A
80000.0
21.26
0
1999-03-25T16:00:00.000-08:00
714
10000.0
7.34
132498124
132498124
B
63000.0
20.19
0
2007-09-29T17:00:00.000-07:00
669
10000.0
9.43
132521238
132521238
C
101000.0
28.29
1
2002-10-29T16:00:00.000-08:00
674
9600.0
14.07
132509740
132509740
C
65000.0
29.91
0
2012-01-29T16:00:00.000-08:00
699
10000.0
15.04
132191102
132191102
C
73666.0
26.62
0
2011-01-23T16:00:00.000-08:00
684
10000.0
12.61
132509470
132509470
D
60000.0
35.48
0
2003-09-29T17:00:00.000-07:00
699
15000.0
17.47
132456349
132456349
C
105500.0
25.78
0
2006-06-27T17:00:00.000-07:00
669
11000.0
15.04
132505300
132505300
B
60000.0
22.92
0
2005-01-29T16:00:00.000-08:00
699
13000.0
9.92
131958732
131958732
E
70000.0
22.58
0
2011-05-18T17:00:00.000-07:00
689
12000.0
22.9
132506868
132506868
C
48000.0
26.33
0
2003-02-27T16:00:00.000-08:00
694
12000.0
14.07
132516806
132516806
A
96000.0
25.56
0
1994-12-29T16:00:00.000-08:00
734
15000.0
7.34
131268670
131268670
A
57000.0
25.71
0
2004-07-26T17:00:00.000-07:00
814
15000.0
6.07
132401574
132401574
D
43000.0
26.43
0
1998-03-27T16:00:00.000-08:00
669
13725.0
19.42
132153739
132153739
A
35000.0
1.13
0
2011-10-23T17:00:00.000-07:00
799
15000.0
6.71
132520211
132520211
A
88000.0
16.01
0
1983-06-29T17:00:00.000-07:00
754
15000.0
7.34
132507599
132507599
C
36000.0
17.23
0
2007-04-29T17:00:00.000-07:00
684
20000.0
16.01
132503309
132503309
B
105000.0
13.74
0
2002-12-29T16:00:00.000-08:00
719
16000.0
9.43
132196451
132196451
C
232000.0
11.96
0
2006-02-23T16:00:00.000-08:00
684
16000.0
12.61
131698304
131698304
E
147900.0
28.25
1
1999-02-16T16:00:00.000-08:00
709
18325.0
25.81
132520038
132520038
B
75000.0
11.15
0
2002-05-29T17:00:00.000-07:00
684
20000.0
10.41
130825007
130825007
B
75000.0
27.97
0
1999-07-25T17:00:00.000-07:00
769
20000.0
9.43
132430714
132430714
C
79637.52
50.53
0
1994-06-27T17:00:00.000-07:00
669
20000.0
13.58
132132993
132132993
C
73200.0
10.82
3
1990-05-25T17:00:00.000-07:00
684
21150.0
15.04
132205828
132205828
D
12000.0
187.4
0
2013-04-25T17:00:00.000-07:00
684
28000.0
19.42
132456432
132456432
A
42700.0
32.24
0
2010-01-27T16:00:00.000-08:00
724
24000.0
7.96
132499590
132499590
A
26000.0
18.47
0
2001-04-29T17:00:00.000-07:00
794
25000.0
5.31
132193804
132193804
E
94765.0
26.44
0
2002-06-23T17:00:00.000-07:00
674
25900.0
26.77
132504218
132504218
A
125000.0
13.1
1
2006-09-29T17:00:00.000-07:00
719
30000.0
6.07
132501822
132501822
A
225000.0
18.14
0
2000-11-29T16:00:00.000-08:00
739
30000.0
7.34
131258820
131258820
D
66819.0
25.7
1
2011-01-05T16:00:00.000-08:00
729
30000.0
20.39
132266341
132266341
A
150000.0
14.77
0
1996-06-24T17:00:00.000-07:00
809
35000.0
6.07
132500323
132500323
A
108000.0
22.48
0
2008-11-29T16:00:00.000-08:00
744
35000.0
6.71
132213237
132213237
C
85000.0
26.85
1
2007-08-23T17:00:00.000-07:00
669
35000.0
15.04
132484849
132484849
C
65000.0
13.46
0
2013-12-28T16:00:00.000-08:00
669
35000.0
15.04
131118050
131118050
B
200000.0
5.12
0
2011-07-02T17:00:00.000-07:00
729
40000.0
9.92
132293829
132293829
A
45760.0
55.99
0
1998-09-25T17:00:00.000-07:00
769
40000.0
6.71

In [20]:
cols_to_show = ['id', 'grade', 'annualinc', 'dti', 'delinq2yrs','earliestcrline','ficorangehigh','loanamount', 'intrate']

In [28]:
pipeA = pickle.load(open('pipeA.pickle','rb'))

In [29]:
ListingA = Listing[Listing['grade'] == 'A']
ListingB = Listing[Listing['grade'] == 'B']
ListingC = Listing[Listing['grade'] == 'C']
ListingD = Listing[Listing['grade'] == 'D']
ListingE = Listing[Listing['grade'] == 'E']
ListingF = Listing[Listing['grade'] == 'F']
ListingG = Listing[Listing['grade'] == 'G']

In [30]:
y_predA = pipeA.predict(ListingA)

/home/vagrant/datacourse/Capstone/Transformers.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  X[self.credit_L] = pd.to_datetime(X[self.credit_L])
/home/vagrant/datacourse/Capstone/Transformers.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  X[self.issued] = pd.to_datetime(X[self.issued])
/home/vagrant/datacourse/Capstone/Transformers.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  X[self.credit_L] = (X[self.issued] - X[self.credit_L]).apply(lambda x: x.days)
/opt/conda/envs/data3/lib/python3.6/site-packages/pandas/core/generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [33]:
showA = Listing_All[Listing_All['grade'] == 'A']

In [39]:
goodA = showA[[bool(i) for i in y_predA]]

In [38]:
goodA

,id,grade,annualinc,dti,delinq2yrs,earliestcrline,ficorangehigh,loanamount,intrate
10,131667860,A,50000.0,4.34,1,2004-05-16T17:00:00.000-07:00,704,20000.0,7.96
18,132324256,A,35000.0,15.33,0,2005-06-25T17:00:00.000-07:00,784,3600.0,7.96
19,132296509,A,36000.0,23.97,0,2014-12-25T16:00:00.000-08:00,709,4500.0,7.96
21,132336225,A,16896.0,1.92,0,2000-11-25T16:00:00.000-08:00,764,4000.0,7.96
23,132176910,A,65000.0,25.96,0,2008-01-23T16:00:00.000-08:00,714,15000.0,7.34
37,132496226,A,62000.0,12.89,0,2003-08-29T17:00:00.000-07:00,724,4000.0,7.96
40,132046634,A,41000.0,21.72,0,1994-06-20T17:00:00.000-07:00,714,5000.0,7.34
44,132493044,A,33000.0,19.38,0,1984-11-29T16:00:00.000-08:00,684,5700.0,7.96
52,131963357,A,115000.0,12.47,0,2013-07-18T17:00:00.000-07:00,704,7000.0,6.71
67,132332402,A,80000.0,21.26,0,1999-03-25T16:00:00.000-08:00,714,10000.0,7.34
82,132153739,A,35000.0,1.13,0,2011-10-23T17:00:00.000-07:00,799,15000.0,6.71
83,132520211,A,88000.0,16.01,0,1983-06-29T17:00:00.000-07:00,754,15000.0,7.34
93,132456432,A,42700.0,32.24,0,2010-01-27T16:00:00.000-08:00,724,24000.0,7.96
106,132293829,A,45760.0,55.99,0,1998-09-25T17:00:00.000-07:00,769,40000.0,6.71

In [40]:
badA = showA[[bool(i) for i in y_predA]]